*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    height:130px;
    background-color: rgb(103, 163, 248);
    background-image: url("../img/pattern.png");
    background-size: 35%; 
    background-position: top;
}

.logo {
    width: 20%;
    height: 80px;
    margin-top: 50px;
    margin-left: 10px;
}

main, footer{
    padding: 15px 10px;
}

.titolo_articolo{
    font-size: 55px;
}

.blocco_riferimenti{
    margin: 10px 0 10px;
    font-size: 20px;
}

#author_name{
    color: rgb(67, 182, 253);
}

.testata, .testo_footer{
    color: rgb(158, 158, 158);
}

.data{
    font-size: 15px;
}

.container_photos_description{
    margin: 25px 0 25px;
}

.article_picture{
    height: 500px;
}

.description_block{
    margin-top: 3px;;
}

.picture_description{
    font-size: 15px;
    font-weight: 300;
}

.testo_articolo{
    font-size: 20px;
    font-weight: 500;
}

.testo_evidenziato{
    background-color: yellow;
}

.elenco_puntato{
    margin: 45px 0px 40px;
}

table{
    text-align: left;
    margin-bottom: 20px;;
}

thead{
    background-color: rgb(0, 183, 255);
    color:white;
}

.colonna_piccola{
    width: 20%;
}

.colonna_grande{
    width: 60%;
}

.riga_colorata{
    background-color: rgb(158, 232, 255);
}

.testo_footer{
    font-size: 20px;
    font-weight: 600;
}

.articoli_suggeriti{
    width: 300px;
    height: 250px;
    margin: 20px 0px;
    padding: 10px 0px 0px 10px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.photo_sugg{
    background-size: cover;
    background-position: center;
}

.monitor{
    background-image: url("../img/monitor.jpg");
}

.graph{
    background-image: url("../img/graph.jpg");
}

